html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
	height: auto;
}

:root {
	/* ========= COLORS ========= */

	--neutral-100: hsl(  0,  0%, 100%);		
	--neutral-300: hsl(212, 45%,  89%);		
	--neutral-500: hsl(216, 15%,  48%);
	--neutral-900: hsl(218, 44%,  22%);


	
	/* ========= TYPOGRAPHY ========= */

	--font-family-main: "Outfit", sans-serif;       /* Основной шрифт */

	--font-weight-light:   400;
	--font-weight-bold:    700;



	--size-xl:  20rem; /* 300px - cards */
}

:root {
	font-size: 15px;
}

body {
	font-family: var(--font-family-main);
	background-color: var(--neutral-300);
	color: var(--neutral-500);
}

h3 {
	font-weight: var(--font-weight-bold);
	color: var(--neutral-900);
}

body {
	display: grid;
	height: 100vh;
	place-items: center;
}

.card {
	max-inline-size: var(--size-xl);
	background-color: var(--neutral-100);
	padding: 1em;
	border-radius: 1em;
	text-align: center;

	.header-img {
		border-radius: 1em;
	}
}
